@font-face {
	font-family: Lato-Light;
	src: url("fonts/Lato-Light.ttf") format("opentype");
}

@font-face {
	font-family: Lato-Heavy;
	src: url("fonts/Lato-Heavy.ttf") format("opentype");
}

body {
	font-family: Lato-Light;
	margin: 10px;
}

a {
	color: darkgray;
}

hr {
	color: darkgray;
}

.page-header {
	width: 100%;
	display: flex;
}

#logo {
	width: 80px;
	height: 75px;
	float: left;
	margin: auto;
}

.header-name {
	text-align: right;
	float: right; 
	width: 100%;
}

.featured-section {
	display: flex;
	flex-wrap: wrap;
}

.featured-header {
	font-family: Lato-Heavy;
}

.main-image {
	width: 1200px;
	height: 200px;
	max-width: 100%;
}

.product-image {
	width: 600px;
	height: 150px;
	max-width: 100%;
}

.element {
	width: 100%;
}

.product,
.product-center{
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

footer {
	font-size: small;
	color: gray;
	text-align: center;
}

@media screen and (min-width: 640px) {
	.product {
		width: 32%;
	}

	.product-center {
		width: 32%;
		margin-left: 2%;
		margin-right: 2%;
	}

	.header-name {
		font-size: 18px;
	}

	.main-image {
		margin-top: 10px;
		height: 300px;
	}

	.featured-section {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.big-line {
		background-color: darkgray;
		height: 3px;
	}
}

@media screen and (min-width: 880px) {
	body {
		width: 880px;
		margin: auto;
	}

	.product-image {
		height: 200px;
	}

	.product,
	.product-center {
		margin-top: 10px;
	}
}
